<div class="forgot-password-dialog">
    <h2 mat-dialog-title>Forgot Password?</h2>
    
    <mat-dialog-content>
      <p>Enter your email address and we'll send you a link to reset your password.</p>
      
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email Address</mat-label>
        <input matInput 
               [formControl]="emailControl"
               placeholder="your@email.com"
               type="email"
               required>
        <mat-icon matSuffix>email</mat-icon>
        
        <mat-error *ngIf="emailControl.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="emailControl.hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
    </mat-dialog-content>
  
    <mat-dialog-actions align="end">
      <button mat-button 
              color="warn"
              (click)="onCancel()">
        Cancel
      </button>
      
      <button mat-raised-button 
              color="primary"
              (click)="onSubmit()"
              [disabled]="emailControl.invalid"
              cdkFocusInitial>
        <span>Send Reset Link</span>
        <mat-icon>send</mat-icon>
      </button>
    </mat-dialog-actions>
  </div>