<div class="background-container">
  <!-- Flex container to align the Add button and Filter dropdown horizontally -->
  <div class="add-button-container">
    <button class="add-livrable-button" (click)="addLivrable()">Add Livrable</button>
    <br><br>
    <label for="status">Filter by Status: </label>
    <select id="status" [(ngModel)]="selectedStatus" (change)="onStatusChange(selectedStatus)">
      <option [value]="null">All</option>
      <option *ngFor="let status of statusEnum | keyvalue" [value]="status.value">{{ status.value }}</option>
    </select>
  </div>

  <div class="livrable-container">
    <div *ngFor="let livrable of livrables" class="livrable-card">
      <div class="card-header">
        <h2 class="card-title">{{ livrable.title }}</h2>

        <!-- Download Button with Icon -->
        <button class="download-btn" (click)="downloadPDF(livrable)">
          <i class="fa-solid fa-download"></i>
        </button>

        <span class="card-status {{ getStatusClass(livrable.status) }}">{{ livrable.status }}</span>
      </div>
      <br>
      <div class="card-body">
        <p class="card-info"><strong>Projet :</strong> {{ livrable.projectName }}</p>
        <p class="card-info"><strong>Format :</strong> {{ livrable.type }}</p>
        <p class="card-info"><strong>Echéance :</strong> {{ livrable.due_date | date: 'dd/MM/yyyy' }}</p>
      </div>
      <div class="card-footer">
        <button class="detail-btn" (click)="viewLivrable(livrable.idLivrable)">Voir les détails</button>
      </div>
    </div>
  </div>
</div>
