<div class="full-screen-background d-flex justify-content-center align-items-center min-vh-100">
  <button (click)="Back()" class="back-btn">
    <i class="fas fa-arrow-left"></i> Back
  </button>
  <form (ngSubmit)="onSubmit()" #taskForm="ngForm" class="p-4 border rounded bg-light">
    <div class="mb-3">
      <label for="name">Task Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="task.name" required class="form-control" />
      <div *ngIf="taskForm.submitted && !task.name" class="text-danger">Task name is required.</div>
    </div>

    <div class="mb-3">
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" [(ngModel)]="task.description" required class="form-control" />
      <div *ngIf="taskForm.submitted && !task.description" class="text-danger">Description is required.</div>
    </div>

    <div class="mb-3">
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" name="startDate" [(ngModel)]="task.startDate" required class="form-control" />
      <div *ngIf="taskForm.submitted && !task.startDate" class="text-danger">Start Date is required.</div>
    </div>

    <div class="mb-3">
      <label for="plannedEndDate">Planned End Date:</label>
      <input type="date" id="plannedEndDate" name="plannedEndDate" [(ngModel)]="task.planned_end_date" required class="form-control" />
      <div *ngIf="taskForm.submitted && !task.planned_end_date" class="text-danger">Planned End Date is required.</div>
      <div *ngIf="task.startDate && task.planned_end_date && task.planned_end_date < task.startDate" class="text-danger">
        Planned End Date must be after Start Date.
      </div>
    </div>

    <div class="mb-3">
      <label for="status">Status:</label>
      <select id="status" name="status" [(ngModel)]="task.status" required class="form-select">
        <option value="PENDING">Pending</option>
        <option value="IN_PROGRESS">In Progress</option>
        <option value="COMPLETED">Completed</option>
      </select>
    </div>

    <button type="submit" [disabled]="taskForm.invalid" class="btn btn-primary w-100">
      {{ isEditMode ? 'Update Task' : 'Add Task' }}
    </button>
  </form>
  
</div>

